* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 400px;
}

h2 {
    font-size: 27px;
    font-weight: 500;
    padding-top: 110px;
}

.course{
    margin-top: 50px;
    margin-left: 40px;
    list-style: none;
    
    
}

.details{
    font-size: 17px;
    width: 120px;
    color: black;
    font-weight: 400;
    float: left;
    text-align: left;
    margin-bottom: 30px;
}

.course input {
    width: 300px;
    height: 35px;
    margin-bottom: 30px;
    font-size: 16px;
    border: 1px solid #80868B;
    border-radius: 7px;
    padding: 7px;
}


textarea {
    width: 500px;
    height: 120px;
    border: 1px solid #80868B;
    border-radius: 7px;
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}


.course input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px orange;
    
}

#units {
    width: 160px;
    font-size: 16px;
    border: 1px solid #80868B;
    border-radius: 6px;
    padding: 10px;
    height: 120px;
}

#units:focus {

   outline: none;
    box-shadow: 0 0 0 1px orange;
  
}

.btn-save input:active {
    transform: translateY(2px);
  }
  
  .btn-save input{
    position: absolute;
    margin-left: 550px;
    margin-top: 30px;
    text-decoration: none;
    font-size: 14px;
    width: 90px;
    height: 37px;
    border-radius: 10px;
    color: #3C5087;
    background: white;
    border: 1px solid orange;
    border-bottom: 3px solid orange;
      box-shadow: 1px 1px 1px 1px rgba(182, 124, 17, 0.308);
    cursor: pointer;
    font-weight: 600;
  }
  
  .btn-save input:hover {
    background: rgba(255, 166, 0, 0.877);
    color: #fff;
   
  }

  @media (max-width:850px){
    .container {
        margin-left: 90px;
    }
    .course {
        margin-left: 10px;
    }
    .btn-save input {
      margin-left: 430px;
    }
  }