*{
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 400px;
}

h2 {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-top: 130px;
}



.table-box {
    width: auto;
    height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}

.table-box::-webkit-scrollbar{
    width: 10px;
  }
  
  .table-box::-webkit-scrollbar-thumb{
    background-color: #FAD291;
    border-radius: 10px;
    
  }
  
  .table-box::-webkit-scrollbar-track{
    background-color: rgba(128, 128, 128, 0.575);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

table {
    border-collapse: collapse;
}


thead td {
    background: rgb(255, 200, 98);
    position: sticky;
    top: 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 140px;
}
tbody td {
  padding: 20px 97px;
    font-size: 18px;
    color: #222;
    text-align: center;
}


td input {
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: #3C5087;
    background: white;
    border: 1px solid orange;
    box-shadow: 1px 1px 1px 1px rgba(182, 124, 17, 0.308);
    cursor: pointer;
    
  }
  td input:hover {
    background: rgb(255, 194, 80);
    color: white;
    font-weight: 600;
  }

  td input:focus {
    outline: none;
    box-shadow: 0 0 0 1px orange;
  }

.btn-create #create:active,
.btn-edit #edit:active {
    transform: translateY(2px);
}

  
.btn-create #create{
    position: absolute;
    color: whitesmoke;
    font-weight: 600;
    background-color: orange;
    border-style: solid;
    border-color: rgb(255, 166, 0);
    box-shadow: 1px 1px 1px 1px rgba(182, 124, 17, 0.308);
    width: 110px;
    height: 40px;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 560px;
    margin-top: 20px;
}

.btn-create #create:hover {
    background: rgba(255, 166, 0, 0.877);
   
}
.btn-create #create:focus {
  outline: none;
  box-shadow: 0 0 0 2px orange;
}

@media (max-width:850px){
    .container {
        margin-left: 80px;
    }
    h2 {
      font-size: 26px;
      padding-top: 120px;
      font-weight: 500;
     
    }
    .table-box {
      width: 400px;
      height: 360px;
    }

    thead td {
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 70px;
      padding-right: 10px;
    }

    tbody td {
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 30px;
      text-align: left;
    }

    tbody td input {
      width: 80px;
      height: 20px;
      font-size: 12px;
    }
    .btn-create #create {
      height: 30px;
      width: 110px;
        margin-left: 300px;
        margin-top: 30px;
    }
 
  }