*{
    margin: 0;
    padding: 0;
}

.container {
  margin-left: 380px;
}


h2 {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-top: 115px;
}

.container p {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    
}

.table-box {
    width:auto;
    height: 355px;
    overflow-y: auto;
    margin-top: 20px;
    
}

.table-box::-webkit-scrollbar{
  width: 10px;
}

.table-box::-webkit-scrollbar-thumb{
  background-color: #FAD291;
  border-radius: 10px;
  
}

.table-box::-webkit-scrollbar-track{
  background-color: rgba(128, 128, 128, 0.575);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

table {
    border-collapse: collapse;
    margin-bottom: 40px;
}


thead td {
    position: sticky;
    top: 0;
    background: rgb(255, 200, 98);
    color: #fff;
    font-size: 18px;font-weight: 700;
    padding: 15px 50px;
    text-align: center;
   
}


tbody td {
    padding: 20px 50px;
    font-size: 18px;
    color: #222;
    text-align: center;
}

  
td input {
  font-size: 14px;
  font-weight: 500;
  width: 140px;
  height: 30px;
  border: none;
  border-radius: 10px;
  color: #3C5087;
  background: white;
  border: 1px solid orange;
    box-shadow: 1px 1px 1px 1px rgba(182, 124, 17, 0.308);
  cursor: pointer;
}
td input:hover {
  background: rgb(255, 194, 80);
  color: white;
  font-weight: 600;
}
  
td input:focus {
  outline: none;
  box-shadow: 0 0 0 1px orange;
}

#assign{
    width: 200px;
    height: 35px;
    padding-left: 10px;
}

.select {
  margin-left: 20px;
}

.btn-create input:active {
  transform: translateY(2px);
}

.btn-create input{
    position: absolute;
  color: whitesmoke;
  font-weight: 600;
  background-color: orange;
  border-style: solid;
  border-color: rgb(224, 148, 7);
    box-shadow: 1px 1px 1px 1px rgba(182, 124, 17, 0.308);
  width: 150px;
  height: 37px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 850px;
  margin-top: 50px;
}

.btn-create input:hover{
  background: rgba(255, 166, 0, 0.877);

}
.btn-create input:focus {
  outline: none;
  box-shadow: 0 0 0 2px orange;
}

.btn-edit input:active  {
  transform: translateY(2px);
}

.btn-edit input{
    position: absolute;
  color: whitesmoke;
  font-weight: 600;
  background-color: orange;
  border-style: solid;
  border-color: rgb(224, 148, 7);
    box-shadow: 1px 1px 1px 1px rgba(182, 124, 17, 0.308);
  width: 150px;
  height: 37px;
  cursor: pointer;
  border-radius: 7px;
  margin-left: 750px;
  margin-top: 55px;
}

.btn-edit input:hover {
  background: rgba(255, 166, 0, 0.877);

}


@media (max-width:850px){
  .container {
      margin-left: 70px;
  }
  h2 {
    padding-top: 120px;
    font-size: 26px;margin-bottom: 20px;
  }
  .container p {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 25px;
  }
  .table-box {
    width: 420px;
    height: 360px;
  }

  thead td {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
  }

  tbody td {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  tbody td input {
    width: 100px;
    height: 25px;
    font-size: 12px;
    border-radius: 5px;

  }
  .btn-create input {
    height: 30px;
    width: 150px;
      margin-left: 260px;
      margin-top: 20px;
  }

}