*{
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 400px;
}


h2 {
    font-size: 27px;
    font-weight: 500;
    padding-top: 130px;
}

.assign{
    margin-top: 50px;
    list-style: none;
    margin-left: 40px;
    
    
}

.details{
    font-size: 17px;
    width: 150px;
    color: black;
    font-weight: 400;
    float: left;
    text-align: left;
    
}

li input, #offering {
    width: 300px;
    height: 35px;
    font-size: 16px;
    border: 1px solid rgba(66, 65, 65, 0.726);
    border-radius: 7px;
    padding: 7px;
}
#offering {
    margin-bottom: 10px;
}

.details [for="name"], li input[type=text] {
    margin-bottom: 30px;
}

textarea {
    width: 500px;
    height: 120px;
    border: 1px solid rgba(66, 65, 65, 0.726);
    border-radius: 7px;
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
}

li input:focus,
#offering:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px orange;
}

.btn-save input:active {
    transform: translateY(2px);
  }
  
.btn-save input{
    position: absolute;
    margin-left: 580px;
    margin-top: 40px;
    text-decoration: none;
    font-size: 14px;
    width: 90px;
    height: 37px;
    border-radius: 10px;
    color: #3C5087;
    background: white;
    border: 1px solid orange;
    border-bottom: 3px solid orange;
      box-shadow: 1px 1px 1px 1px rgba(182, 124, 17, 0.308);
    cursor: pointer;
    font-weight: 600;
  }
  
.btn-save input:hover {
    background: rgba(255, 166, 0, 0.877);
    color: #fff;
   
  }
  .btn-save input:focus {
    outline: none;
    box-shadow: 0 0 0 2px orange;
}

  @media (max-width:850px){
    .container {
        margin-left: 80px;
    }
    h2 {
       padding-top: 120px;
        font-size: 22px;
    }
    
    .assign {
        margin-left: 0px;
    }
    .details{
        font-size: 16px;
        width: 90px;
        color: black;
        font-weight: 400;
        float: left;
        text-align: left;
    }
    #offering,.assign input {
        width: 280px;
        font-size: 15px; 
    }

    textarea {
        width: 400px;
        height: 120px;
        font-size: 15px;
    }
    
    .btn-save input {
        margin-left: 340px;
        width: 60px;
        font-size: 14px;
    }
    

  }